<div class="section" id="contact">
  <div class="container">
    <h2>Where to find me</h2>
    <p>I think you should drop me a line on <a href="https://www.linkedin.com/in/harrypujols">LinkedIn</a>, check my questions and answers on <a href="http://stackoverflow.com/users/1653276/harrypujols">Stack Overflow</a>, and perhaps see how this sausage is made on <a href="https://github.com/harrypujols">Github</a>.</p>
    <p>Don't forget to follow me on <a href="https://twitter.com/harrypujols">Twitter</a>!</p>
  </div>
</div>
