<div class="section" id="portfolio">
  <div class="container">
    <h2>The Work</h2>
    <p>You may wonder where is the stuff I do. Well, I keep only my personal projects public, since everything else belongs to the great clients I have worked with.</p>
    <ul>
      <li>My <a href="http://harrypujols.com/desktop" target="_blank">old Web site</a> built in 2009. The "resume" part in it is even older. I made in in school, in 1998.</li>
      <li>My <a href="http://harrypujols.github.io/rock-paper-scissors/" target="_blank">first videogame</a> is nothing to brag about, but one more is coming.</li>
      <li>My first <a href="https://github.com/harrypujols/framesets" target="_blank">open source project</a> doesn't have many pull requests.</li>
    </ul>
    <p>There will be more stuff to post. Check often.</p>
  </div>
</div>
