<div class="section" id="welcome">
  <div class="container">
    <h1 class="huge-text">Hello!</h1>
    <p>Don't freak out, the cartoon below is just <b>me</b> with a black turtleneck.</p>
    <p>Are you here because you want to <a href="#portfolio">see what I do</a>, or you want to <a href="#contact">contact me</a>?</p>
    <p>You can even check what I'm up to <a href="#updates">here</a>.</p>
  </div>
  <div class="static cartoon">
    <div class="happy-cartoon visible" role="img"></div>
    <div class="concerned-cartoon" role="img"></div>
  </div>
</div>
