// ==========================================================================
// Settings
// ==========================================================================
@import "compass";

// ==========================================================================
// Colors
// ==========================================================================

$white: #ffffff;
$black: #000000;
$grey: grey;
$red: red;
$lizard-blue: #00a3fa;
$lizard-green: #90d548;
$lizard-red: #ff0000;
$btn-surface: $red;
$btn-border: darken($red, 10%);
$em-base: 16px !default;

// ==========================================================================
// Mixins
// ==========================================================================
@import "mixins";

// ==========================================================================
// Variables
// ==========================================================================
$breakpoint: 768px;
$btn-size: 100px;
$primary-font: 'Open Sans', sans-serif;
$light: 300;
$normal: 400;
$bold: 800;
$section-size: 100% !default;

/* ==========================================================================
Base
========================================================================== */
@import "base";

/* ==========================================================================
Nav
========================================================================== */
@import "nav";

/* ==========================================================================
Sections
========================================================================== */
@import "sections";
